backend/sam/StepFunction/StepFunc.json
{
  "Comment": "This is your state machine",
  "StartAt": "Pass Scraper Content",
  "States": {
    "Pass Scraper Content": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-1:878292117449:function:PassBucketInput:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
       ],
      "Next": "Map"
      },
      "Map": {
        "Type": "Map",
        "End": true,
        "Iterator": {
          "StartAt": "Twitter Scraper",
          "States": {
            "Twitter Scraper": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:eu-west-1:878292117449:function:Twitter_scraper:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "Sentiment Analysis"
            },
            "Sentiment Analysis": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:eu-west-1:878292117449:function:Sentiment_Analysis:$LATEST"
              },

{
  "Scrape-until" : "123421343214",
  "scrape-detail": [
    { "content": "Tesla"},
    { "content": "Neuralink"},
    { "content": "Bitcoin"},
    { "content": "Etherium"},
    { "content": "spacex"}
    ]
}