backend/ServerlessApplication/ptarmigan/dayStepFunc/dayStepFunc.json
{
    "Comment": "This is your state machine",
    "StartAt": "Lambda Invoke",
    "States": {
      "Lambda Invoke": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:eu-west-1:878292117449:function:PassBucketInput:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "Next": "Map"
      },
      "Map": {
        "Type": "Map",
        "Next": "Success",
        "Iterator": {
          "StartAt": "Lambda Invoke (1)",
          "States": {
            "Lambda Invoke (1)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:eu-west-1:878292117449:function:ptarmiganbackend-writeDayIntoDB-NLq8JmYiuvVp:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        "ItemsPath": "$.scrape-detail"
      },
      "Success": {
        "Type": "Succeed"
      }
    }
  }